@model ProjManagement.Models.ProjectModel
@{
    ViewBag.Title = "SuccessProject";
}

<h2>SuccessProject</h2>
<h2>Project record has been successfully created.</h2>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

