
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}

<div class="jumbotron">
    <h1>Welcome, Manager.</h1>
    <p class="lead">
        Manage all employees and projects here.
    </p>

</div>

<div class="row">
    <div class="col-md-6">
        <h2>Management</h2>
        <hr />
        <p><a href="~/Employee" class="btn btn-primary btn-lg">Employee Management &raquo;</a></p>
        <p><a href="~/Project" class="btn btn-primary btn-lg">Project Management &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>My tasks</h2>
        <hr />
        <p><a href=# class="btn btn-primary btn-lg">My profile &raquo;</a></p>
        <p><a href=# class="btn btn-primary btn-lg">Timesheet &raquo;</a></p>
    </div>
</div>





