@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Welcome, " + ViewData["name"], "Index", "User", new {id = ViewData["id"]}, new { id = ViewData["id"] })
        </li>
        <li>
            @Html.ActionLink("Log Out", "Logout", "Login")
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Log In", "Login", "Login")
        </li>
    </ul>
}