
@model ProjManagement.Models.EmployeeModel
@{
    ViewBag.Title = "SuccessEmployee";
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}

<h2>Employee record has been successfully created.</h2>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
