@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Project Manager was created by Group 6 as part of the final project for the
    COSC3380 Database course, Spring 2019. This project explores a top-down design
    approach, where the conceptual schema was first realized. The database backend
    was constructed using MSSQL, and the frontend was constructed using the ASP.NET 
    Web Application Framework following the model view controller (MVC) design pattern.

</p>
<h4>Group 6 Members:</h4>
<p>Patricio Garcia | Katherine Kin | Phu Le | Kim Nguyen</p>
